h1{
  color:white ;
  margin-bottom: 0;
  padding: 0%;
  margin: 0 auto;
  
  }
  
 .navbar{
   background-color: black;
   width: 100%;

 } 


 .card{

  margin-top: 20px;
  max-width: 50%;

  margin-left:auto;
  margin-right:auto;

}



@media only screen and (max-width: 800px) {
  .card {
    max-width: 85%;
  }
}

agm-map {
  height: 300px;
}
.mat-form-field {
width: 250px;

}

.address{

  width: 400px;
}