h1{

    //text-align: center;
    color:white ;
    //background-color: black;  
    margin-bottom: 0;
    padding: 0%;
    
    
   
    margin: 0 auto;
    
  
    }
  
  
   .navbar{
     background-color: black;
     width: 100%;
     
   } 

   table{

    margin: 0 auto;

   }
  
  