h1{
    color:white ;
    margin-bottom: 0;
    padding: 0%;
    margin: 0 auto;
    
    }
    
   .navbar{
     background-color: black;
     width: 100%;

   } 

   table{
    margin: 0 auto;
    width:50%;
   }
  
  .empty-cart{
    text-align: center;
    font-size: 2em;
  }
  
td{

  vertical-align:middle; 

}

.mat-form-field {
text-align: center;
width:30%;

}

.mat-fab.mat-accent{
background-color: yellow;
color: black;

}

#Cbutton{

 text-align: center;
}
















