
<div class= "navbar">

    <h1 >Cart Content</h1>

</div>

<button style="float: right; margin-right:1%; margin-top:0.5%;" routerLink="/products" mat-raised-button color="primary"  matBadgePosition="before" matBadgeColor="accent">
    Products
</button>


<br>   <br> 




<div class= "empty-cart" [hidden]="empty_message">
    Your cart is empty
</div>




<br>
<div class="table-responsive" [hidden]="HideCart">          
    <table class="table">
      <thead>
        <tr>
          <th>remove</th>
          <th style="text-align:left; padding-left:0; ">photo</th>
          <th>name</th>
          
          <th style="margin-left: 2%; padding-left:0; " >price</th>
          <th style="padding-left:0; text-align:center;  " >quantity</th>
          <th>subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td> <button mat-mini-fab color="warn" (click)="remove(item.product.id)" >X</button></td>
          <td  style=" text-align: left; padding-left:0;"> <img src="{{item.product.image.imgurl}}"   style="height: 5%;"  ></td>
          <td>{{item.product.name.name}}</td>
          
          <td style=" text-align: left; padding-left:0;">${{item.product.price.price}}  </td>
          <td  style="padding:0; text-align: center;"  > 
            
              <mat-form-field>
                 
                  <mat-select  value="D">
                    
                    <mat-option value="1" (click)="changed($event,1,item.product.id )">x1</mat-option>
                    <mat-option value="2" (click)="changed($event,2,item.product.id)">x2</mat-option>
                    <mat-option value="3" (click)="changed($event,3, item.product.id)">x3</mat-option>
                    <mat-option value="4" (click)="changed($event,4, item.product.id)">x4</mat-option>
                    <mat-option value="5" (click)="changed($event,5, item.product.id)">x5</mat-option>
                    <mat-option value="D" hidden>x{{item.quantity}}</mat-option>

                  </mat-select>
                  
              </mat-form-field>
        </td>
          <td>${{item.product.price.price * item.quantity}}</td>
        </tr>

        <tr  style="font-weight:600;">
            <td colspan="5" align="right">Total:</td>
            <td >${{total}}</td>
        </tr>

      </tbody>
    </table>


    <div style="text-align: center; font-size:1.5em; ">

        <button (click)="pay()" style="font-size:0.7em; " mat-stroked-button color="primary">Pay With PayPal</button>
    </div>
 </div>


 



 


    

   