


<div class= "navbar">

     <h1>  Web Store   </h1> 

</div>

  
<button  style="float: right; margin-right:1%;  margin-top:0.5%;"  routerLink="/cart" mat-raised-button color="primary" matBadge="{{cartno}}" matBadgePosition="before" matBadgeColor="accent">
  Cart <i class="fas fa-shopping-cart ml-1"></i>
</button>



<div class="wrapper">


  
    <br><br>

    <div class="loading" [hidden]="HideSpinner">
       
        <mat-spinner style="margin:0 auto; "></mat-spinner>

          <br>

        <div style=" text-align: center; " >Loading...</div>

    </div>


  
      <div class="main">
        
        <ul class="cards" >
          <li  class="cards_item" *ngFor="let product of products$" >
            <div class="card" >
              <div  class="card_image"><img class="Cimg"  src="{{product.image.imgurl}} "></div>  
              <div class="card_content">
                <h2  class="card_title">{{product.name.name}}</h2>
                <p  class="card_text">${{product.price.price}}</p>
                <button  a routerLink="/details/{{product.id}}" class="btn card_btn">View Details</button>
                <button style="margin-top:3%; font-weight: 900;  " id="{{product.id}}"  class="btn card_btn" (click)="AddToCart(product.name.name,product, product.id ) "   (click)="AddToCartButton(product.id); "  >Add To Cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>
              
              </div>
            </div>
          </li>

        </ul>
      </div>






</div>


<div class= "navbar">

    <h1 style="text-align: center; ">  &nbsp;   </h1> 

</div>