h1{

  text-align: center;

  }






.wrapper {
  
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1535332371349-a5d229f49cb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}