




html, body { height: 100%;

    min-height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #20B2AA;


}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
