

<div class= "navbar">

    <h1>  Web Store   </h1> 

</div>


<button  style="float: right; margin-right:1%;  margin-top:0.5%;  "     routerLink="/cart" mat-raised-button color="primary" matBadge="{{cartno}}" matBadgePosition="before" matBadgeColor="accent">
    Cart <i class="fas fa-shopping-cart ml-1"></i>
</button>

<button  style="float: right; margin-right:1%;  margin-top:0.5%;  "     routerLink="/products" mat-raised-button color="primary"  matBadgePosition="before" matBadgeColor="accent">
    Products
</button>


<br><br><br>



<mat-card class="card">


  

    <mat-card-content>
        
            
        





<div class="row First_card" >
    <div class="col-sm-4" style=" text-align: center;"  ><img src="{{product$.image.imgurl}}" class="responsive" width="150" height="90"></div>
    <div class="col-sm-4" style="margin:auto;" >{{product$.name.name}}</div>
    <div class="col-sm-4" style="margin:auto; text-align: center;" >Price: ${{product$.price.price}}</div>
</div>

    </mat-card-content>


</mat-card>






<mat-card class="card">


    <mat-card-title>Product Information:</mat-card-title>

    <mat-card-content>
       

          <ul class="b" *ngFor="let post of product$.highlights.highlights; let i = index">

            <li>{{ post }}</li>
         
          </ul>
       
    

    </mat-card-content>


</mat-card>




<mat-card class="card">


    <mat-card-title>Description:</mat-card-title>

    <mat-card-content>
        {{product$.description.description}}
    </mat-card-content>


</mat-card>



<br>

<div style="text-align: center;">
<button class="addBt" mat-raised-button color="primary" id="{{product$.id}}"  (click)="AddToCart(product$.name.name,product$, product$.id ) " (click)="AddToCartButton(product$.id); ">Add To Cart</button>
</div>













<!--

   
    <mat-card class="card">
        <mat-card-title>SPECS</mat-card-title>



        <div class="row">
            <div class="col-md-4 title">Contact Name: hello me</div>
            <div class="col-md-4 title">Contact Email: e@gfmail.com</div>
            <div class="col-md-4 title">Contact Phone: 8313213213</div>
        </div>


    </mat-card>  

 {{product$.highlights.highlights[0]}}
-->


 
 


