

<div class= "navbar">

    <h1>  Drone Store   </h1> 

</div>


<button  style="float: right; margin-right:1%;  margin-top:0.5%;  "     routerLink="/cart" mat-raised-button color="primary" matBadge="{{cartno}}" matBadgePosition="before" matBadgeColor="accent">
    Cart <i class="fas fa-shopping-cart ml-1"></i>
</button>

<button  style="float: right; margin-right:1%;  margin-top:0.5%;  "     routerLink="/products" mat-raised-button color="primary"  matBadgePosition="before" matBadgeColor="accent">
    Products
</button>




<div  id="page_container">



  
  <div  class="row wow fadeIn" style="margin-top: 1%; border: 1px ">

    
        <div id="imgContainer"  class="col-md-6 " style="  display: flex; align-items: center; ">  

            <img *ngIf="product$" class="img-responsive" src="{{product$.image.imgurl}}" style="width: 95%; height:80%; margin:0 auto;  ">

        </div>
    

  
        <div id="txtContainer"  class="col-md-6 mb-4" style="  display: flex; align-items: center;  " > 

        
            <div class="p-4" style="text-align: left; ">

                <div class="mb-3">
                    <span  style="font-size:1.1em; font-weight: 700;  " class="badge purple mr-1">{{product$.name.name}}</span>
                </div>

                <p class="lead price" >
                  <span>${{product$.price.price}}</span>
                </p>

                <p class="lead  font-weight-bold">Description</p>

                <p>{{product$.description.description}}</p>

                <form class="d-flex justify-content-left">
                    
                    
                    <button style="font-size:1.7em; margin-top:1%;"  id="{{product$.id}}"  class="btn card_btn" (click)="AddToCart(product$.name.name,product$, product$.id ) "   (click)="AddToCartButton(product$.id); "  >Add To Cart
                      <i class="fas fa-shopping-cart ml-1"></i>
                    </button>

                </form>

            </div>
          

        </div>
      

  </div>
  





 </div>



 
 


